@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('../fonts/Gotham-Black.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('../fonts/Gotham-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Black'), url('../fonts/Gotham-Black.woff') format('woff');
}

body, html {
    height: 100%;
    overflow:hidden;
}

.hero .navbar{
    background: rgba(255, 255, 255, 0.7);
}

.header-image-left{
    background-image: url("../img/backgrounds/background-cover.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-image-right{
    background-image: url("../img/backgrounds/snacks-hero.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF;
}

#nav-toggle-state{
    display: none;
}  
#nav-toggle-state:checked ~ .nav-menu{
    display: block;
}
.navbar-item.flex{
    span.is-hidden-desktop{
        padding-left: 10px;
    }
}
.navbar-item{
    img{
        max-height: none;
    }
    .normal-icon{
        color: #3f4879;
    }
}
.form-container{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
}
.product-short-details{
    p{
        line-height: 1;
    }
}
.email-field{
    margin-top: 1.5rem;
    width: 60%;
}
.button.is-success{
    border-color: #FFF;
    background: #87a5c1;
    background: -webkit-linear-gradient(left, #87a5c1 0%,#3f497a 100%);
    background: -webkit-gradient(linear, left top, right top, from(#87a5c1),to(#3f497a));
    background: -o-linear-gradient(left, #87a5c1 0%,#3f497a 100%);
    background: linear-gradient(to right, #87a5c1 0%,#3f497a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a5c1', endColorstr='#3f497a',GradientType=1 );
}
.button.is-success:hover{
    border-color: #FFF;
    background: #3f497a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f497a', endColorstr=' #87a5c1',GradientType=1 );
}
.title.is-1 {
    font-size: 5rem;
}
.footer-icons{
    margin-right: 10px;
}
.navbar-end{
    .footer-img{
        img{
            width: 100px;
        }
    }
}
#navbar-footer{
    background-image: url("../img/backgrounds/background-texture.png") !important;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1a1a1a !important;
    .navbar-item{
        margin: 0 auto;
    }  
}
.column.header-image-left, .column.header-image-right{
    min-height: 85vh;
}
.columns:not(:last-child){
    margin-bottom: 0;
}
.qsco-form-container{
    padding: 40px 70px;
    img{
        width: 100px;
    }
    h1{
        color: #353C62;
        font-family: 'Gotham Black';
        font-size: 30px;
        line-height: 1;
        margin-top: 10px;
    }
    span{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.4;
        display: inline-block;
        margin-top: 10px;
    }
    .cta-button{
        margin-top: 20px;
        width: 80%;
        button{
            color: #444C77;
            background-color:rgba(230, 175, 65, 1);
            border-radius: 20px;
            font-family: 'Gotham Black';
            font-size: 10px;
            height: 44px;
            text-transform: uppercase;
            padding: 3px 20px;
            -webkit-box-shadow: 0px 3px 13px 0px rgba(53, 75, 77, 0.42);
            -moz-box-shadow:  0px 3px 13px 0px rgba(53, 75, 77, 0.42);
            box-shadow:  0px 3px 13px 0px rgba(53, 75, 77, 0.42);
            width: 100%;
        }
        button:hover{
            background-color:rgba(230, 175, 65, 1);
        }
        span{
            color: #000;
            font-size: 14px;            
            font-weight: 300;
            margin-top: 0;
        }
        .icon-list{
            svg{
                width: 100%;
                padding: 0 5px;
            }
        }
    }
    .fixed-columns{
        width: 60%;
        margin: 0 auto;
    }
}
#navbar-footer{
    .navbar-brand{
       img{
           width: 70px;
       }
    }
    .navbar-item{
        font-family: 'Gotham Black';
        min-width: 127px;
    }
    a{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 10px;
        color: #FFF;
    }
    .footer-img{
        width: 100px;
    }
}

 // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .title.is-1 {
        font-size: 2rem;
    }
    #navbar-footer{
        .navbar-item{
            margin: 0 auto;
            justify-content: center;
        }
        .footer-img{
            width: 100px;
        }
    }
    body, html {
        overflow-y: visible;
    }
 }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .title.is-1 {
        font-size: 4rem;
    }
    #navbar-footer{
        .navbar-item{
            margin: 0 auto;
            justify-content: center;
        }
        .footer-img{
            width: 100px;
        }
    }
    body, html {
        overflow-y: visible;
    }
 }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .title.is-1 {
        font-size: 3rem;
    }
    #navbar-footer{
        .navbar-item{
            margin: 0 auto;
            justify-content: center;
        }
        .footer-img{
            width: 100px;
        }
    }
    body, html {
        overflow-y: visible;
    }
 }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .title.is-1 {
        font-size: 4rem;
    }
    #navbar-footer{
        .navbar-item{
            margin: 0 auto;
            justify-content: center;
        }
        .footer-img{
            width: 100px;
        }
    }
    body, html {        
        overflow-y: visible;
    }
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1300px) { 
    .qsco-form-container .cta-button {
        margin-top: 20px;
        width: 90%;
    }
 }
